@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  @apply bg-bg-primary text-text-primary;

  min-height: 100vh;
  width: 100%;
}
